/* ====================================
// css variables
// ==================================== */

:root {
  --gold: #c9a445;
  --gray: #ededed;
  --nav-font-weight: 300;
  --nav-font-size: 24px;
  --text-font-weight: 400;
  --text-font-size: 20px;
  --link-font-weight: 600;
  --link-font-size: 20px;
  --footer-font-weight: 600;
  --footer-font-size: 28px;
  --nav-phone-font-weight: 400;
  --nav-phone-font-size: 28px;
  --text-phone-font-weight: 700;
  --text-phone-font-size: 16px;
  --footer-phone-font-weight: 500;
  --footer-phone-font-size: 20px;
  --burger-a-font-weight: 500;
  --burger-a-font-size: 22px;
  --font-family: "Quicksand", sans-serif;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

p {
  font-family: var(--font-family);
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

@media (max-width: 720px) {
  .phone-disapear {
    display: none;
  }
}

@media (min-width: 720px) {
  .desktop-disapear {
    display: none;
  }
}
