/* ====================================
// css variables
// ==================================== */

:root {
  --gold: #c9a445;
  --gray: #ededed;
  --nav-font-weight: 300;
  --nav-font-size: 24px;
  --text-font-weight: 400;
  --text-font-size: 20px;
  --link-font-weight: 600;
  --link-font-size: 20px;
  --footer-font-weight: 600;
  --footer-font-size: 28px;
  --nav-phone-font-weight: 400;
  --nav-phone-font-size: 28px;
  --text-phone-font-weight: 700;
  --text-phone-font-size: 16px;
  --footer-phone-font-weight: 500;
  --footer-phone-font-size: 20px;
  --burger-a-font-weight: 500;
  --burger-a-font-size: 22px;
  --font-family: "Quicksand", sans-serif;
}

/* ====================================
// reset rules
// ==================================== */

@font-face {
  font-family: "miama";
  src: url("../font/miama.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: var(--font-family);
}

header {
  background-image: url("../img/restaurant-bg.jpg");
  background-size: cover;
  padding-bottom: 10px;
  padding-top: 30px;
  height: 100vh;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%),
    url(../img/restaurant-footer-bg.jpg);
  background-size: cover;
  color: white;
  padding: 20px;
}

footer .logo-footer {
  padding: 20px;
}

footer a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin: 20px 0px;
}

p {
  font-family: var(--font-family);
}

h2 {
  font-family: "miama";
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: underline 1px;
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--gold);
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.title-box {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.title-box .title {
  width: 279px;
  height: 55px;
}

.italia-box {
  display: flex;
  flex-direction: row-reverse;
}

.italia {
  width: 145.455px;
  height: 145.455px;
  position: relative;
  margin: 40px 20px;
  animation-name: italia-mama;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.button {
  display: flex;
  justify-content: center;
  background-color: var(--gold);
  box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 50px;
}

.phone-button {
  margin-top: 215px;
}

.grey-bg {
  background-color: var(--gray);
}

.cut-img {
  margin-top: -150px;
}

.carte {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carte-bg {
  position: relative;
  background-color: rgba(255, 255, 255, 0.724);
}

.carte .text {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.carte .link {
  text-align: center;
  font-size: 18px;
  text-decoration: underline var(--gold);
  font-weight: 600;
}

.special-space {
  padding-top: 20px;
}

.card {
  box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.25);
  border-radius: 11px 11px 0px 0px;
  margin: 15px;
  width: 176px;
  height: 163px;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.screen {
  height: 75vh;
}

.story-container {
  display: flex;
  justify-content: end;
}

.story-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../img/castel.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 324px;
  height: 394px;
  margin: 60px;
  margin-right: 0px;
}

.footer-box-info {
  display: flex;
  flex-direction: column;
}

.footer-box-link {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0px 25px -50px;
}

.footer-link {
  margin-right: -50px;
}

@media (max-width: 720px) {
  .card {
    width: 176px;
  }

  .card-long {
    height: 185;
  }
}

@media (max-width: 360px) {
  .card {
    padding-bottom: 50px;
  }
}

/*
.cut-img {
  position: absolute;
  top: 836px;
  left: 103px;
}
*/

@keyframes italia-mama {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 720px) {
  .phone-disapear {
    display: none;
  }
}

@media (min-width: 720px) {
  .desktop-disapear {
    display: none;
  }
}
